

<nav class="nav nav-pills flex-column flex-sm-row bg-light">

    <a class="flex-sm-fill text-sm-center nav-link" ui-sref="home" ui-sref-active="active"> <i class="fa fa-fw fa-home fa-2x"></i><p>Home</p></a>

    <a class="flex-sm-fill text-sm-center nav-link" ui-sref="messages" ui-sref-active="active"><i class="fa fa-fw fa-envelope fa-2x"></i>
        <p>Messages</p></a>
    <a class="flex-sm-fill text-sm-center nav-link" ui-sref="whislist" ui-sref-active="active"><i class="fa fa-fw fa-star fa-2x"></i>
        <p>Whislist</p></a>
    <a class="flex-sm-fill text-sm-center nav-link" ui-sref="settings" ui-sref-active="active"><i class="fa fa-fw fa-cog fa-2x"></i>
        <p>Settings</p></a>
    <a class="flex-sm-fill text-sm-center nav-link" ui-sref="account" ui-sref-active="active"><i class="fa fa-fw fa-user fa-2x"></i>
        <p>My Account</p></a>

</nav>
