<div class="jumbotron">
    <h1 class="display-4">Hello, from {{$ctrl.title}}</h1>
    <p class="lead">AngularJs, Bootstrap, Fontawesome, Webpack</p>
    <hr class="my-4">

</div>
<div class="jumbotron">
    <h1 class="display-4">Hello, from {{$ctrl.title}}</h1>
    <p class="lead">AngularJs, Bootstrap, Fontawesome, Webpack</p>
    <hr class="my-4">

</div>
<div class="jumbotron">
    <h1 class="display-4">Hello, from {{$ctrl.title}}</h1>
    <p class="lead">AngularJs, Bootstrap, Fontawesome, Webpack</p>
    <hr class="my-4">

</div>
<div class="jumbotron">
    <h1 class="display-4">Hello, from {{$ctrl.title}}</h1>
    <p class="lead">AngularJs, Bootstrap, Fontawesome, Webpack</p>
    <hr class="my-4">

</div>
<div class="jumbotron">
    <h1 class="display-4">Hello, from {{$ctrl.title}}</h1>
    <p class="lead">AngularJs, Bootstrap, Fontawesome, Webpack</p>
    <hr class="my-4">

</div>